<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="dk.itu.android.btemu"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name=".BTEnableControl"
    			  android:label="@string/btctrl" 
    			  android:exported="true">
    		<intent-filter>
    			<category android:name="android.intent.category.DEFAULT"/>
    			<action android:name="dk.android.bluetooth.adapter.action.REQUEST_ENABLE"/>
    		</intent-filter>
    		<intent-filter>
    			<category android:name="android.intent.category.DEFAULT"/>
    			<action android:name="dk.android.bluetooth.adapter.action.REQUEST_DISCOVERABLE"/>
    		</intent-filter>
    	</activity>
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
<!-- needs internet permission to contact the discovery server...
remove this and add both BLUETOOTH and BLUETOOTH_ADMIN for
deploying on real devices -->
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 